---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import KindeAuthProvider from "../components/KindeAuthProvider";

interface Props {
    title: string;
    description?: string;
    image?: string;
    type?: "website" | "article";
    lang?: string;
    hreflangEn?: string;
    hreflangFr?: string;
}

const {
    title,
    description = "Bienvenue sur mon blog technique ! Découvrez des articles sur le Cloud, le DevOps et le développement web.",
    image,
    type,
    lang = "en",
    hreflangEn,
    hreflangFr,
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
    <head>
        <BaseHead
            title={title}
            description={description}
            image={image}
            type={type}
            hreflangEn={hreflangEn}
            hreflangFr={hreflangFr}
        />
    </head>
    <body
        class="min-h-screen flex flex-col"
        style="background-color: var(--bg-deep); color: var(--text-primary);"
    >
        <KindeAuthProvider client:load>
            <Header />
            <main class="flex-grow">
                <slot />
            </main>
            <Footer />
        </KindeAuthProvider>
    </body>
</html>
